{% extends 'layouts/base.html' %}

{% block title %}
    ლექსიკონის შესახებ
{% endblock %}


{% block content %}
    
    <div class="main-outer edge-padding">
      <main class="main-content width-limiter">
        <section class="about-container">
          <h1 class="about-title">ლექსიკონის შესახებ</h1>
          <p class="about-text">
            შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და
            ტიპოგრაფიული ნაწარმის შემქმნელებს, რეალურთან მაქსიმალურად
            მიახლოებული შაბლონი წარუდგინონ შემფასებელს. ხშირადაა შემთხვევა,
            როდესაც დიზაინის შესრულებისას საჩვენებელია, თუ როგორი იქნება ტექსტის
            ბლოკი. სწორედ ასეთ დროს არის მოსახერხებელი ამ გენერატორით შექმნილი
            ტექსტის გამოყენება, რადგან უბრალოდ „ტექსტი ტექსტი ტექსტი“ ან სხვა
            გამეორებადი სიტყვების ჩაყრა, ხელოვნურ ვიზუალურ სიმეტრიას ქმნის და
            არაბუნებრივად გამოიყურება. შემთხვევითად გენერირებული ტექსტი ეხმარება
            დიზაინერებს და ტიპოგრაფიული ნაწარმის შემქმნელებს, რეალურთან
            მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს. ხშირადაა
            შემთხვევა, როდესაც დიზაინის შესრულებისას საჩვენებელია, თუ როგორი
            იქნება ტექსტის ბლოკი. სწორედ ასეთ დროს არის მოსახერხებელი ამ
            გენერატორით შექმნილი ტექსტის გამოყენება, რადგან უბრალოდ „ტექსტი
            ტექსტი ტექსტი“ ან სხვა გამეორებადი სიტყვების ჩაყრა, ხელოვნურ
            ვიზუალურ სიმეტრიას ქმნის და არაბუნებრივად გამოიყურება.
          </p>
        </section>
      </main>
    </div>
    



    
    <dialog id="success-modal" class="info-modal">
      <section class="info-modal-content">
        <img src="{{ url_for('static', filename='images/' + 'success.svg') }}" alt="success tick" />
        <p class="info-text">წარმატებით გამოიწერეთ სიახლეები</p>
        <a class="base-button secondary-button" href="{{ url_for('main.home') }}">
          მთავარ გვერდზე დაბრუნება
        </a>
      </section>
    </dialog>
    <dialog id="error-modal" class="info-modal">
      <section class="info-modal-content">
        <img src="{{ url_for('static', filename='images/' + 'error.svg') }}" alt="error" />
        <p class="info-text">დაფიქსირდა შეცდომა</p>
        <button
          class="base-button secondary-button"
          id="error-modal-close-button"
        >
          თავიდან ცდა
        </button>
      </section>
    </dialog>
  
{% endblock %}
