{% macro menu_icon(item) -%}
  {% set icon_type = item.get_icon_type() %}
  {%- if icon_type %}
    {% set icon_value = item.get_icon_value() %}
    {% if icon_type == 'glyph' %}
      <i class="glyphicon {{ icon_value }}"></i>
    {% elif icon_type == 'fa' %}
      <i class="fa {{ icon_value }}"></i>
    {% elif icon_type == 'image' %}
      <img src="{{ url_for('static', filename=icon_value) }}" alt="menu image">
    {% elif icon_type == 'image-url' %}
      <img src="{{ icon_value }}" alt="menu image">
    {% endif %}
  {% endif %}
{%- endmacro %}

{% macro menu(menu_root=None) %}
  {% set is_main_nav = menu_root == None %}
  {% if menu_root is none %}{% set menu_root = admin_view.admin.menu() %}{% endif %}
  
  {# Variable to track if any item is already active #}
  {% set found_active = False %}
  
  {%- for item in menu_root %}
    {%- if item.get_url() != h.get_url('admin.index') and item.is_accessible() and item.is_visible() -%}  {# Skip Home button #}
      
      {# Check if the item is active or should be made active #}
      {% if item.is_active(admin_view) %}
        {% set found_active = True %}
      {% endif %}
      
      {# Mark first accessible item as active if none found yet #}
      {%- if not found_active and loop.first -%}
        {% set item.is_active = True %}
        {% set found_active = True %}
      {%- endif %}
      
      {%- if item.is_category() -%}
        {% set children = item.get_children() %}
        {%- if children %}
          {%- if item.is_active(admin_view) %}
            <li class="active dropdown">
          {% else %}
            <li class="dropdown">
          {% endif %}
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ item.name }}
            <i class="glyphicon glyphicon-chevron-down small"></i>
          </a>
          <ul class="dropdown-menu">
            {%- for child in children -%}
              <li><a href="{{ child.get_url() }}">{{ child.name }}</a></li>
            {%- endfor %}
          </ul>
        </li>
        {% endif %}
      {%- else %}
        {# Render normal links #}
        <li{% if item.is_active(admin_view) %} class="active"{% endif %}>
          <a class="nav-link" href="{{ item.get_url() }}">{{ item.name }}</a>
        </li>
      {% endif %}
    {%- endif %}
  {% endfor %}
{% endmacro %}

{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, m in messages %}
        {% if category %}
          {# alert-error changed to alert-danger in bootstrap 3, mapping is for backwards compatibility #}
          {% set mapping = {'message': 'info', 'error': 'danger'} %}
          <div class="alert alert-{{ mapping.get(category, category) }} alert-dismissable">
        {% else %}
          <div class="alert alert-dismissable">
        {% endif %}
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ m }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
