{% extends 'layouts/base.html' %}

{% block title %}
    ლექსიკონის შესახებ
{% endblock %}


{% block content %}

    <div class="main-outer edge-padding">
        <main class="main-content width-limiter">
            <section class="about-container">
                <h1 class="about-title">ლექსიკონის შესახებ</h1>
                <p class="about-text">
                     {% for item in items %}
                        {{ item.about_text }}
                    {% endfor %}
                </p>
            </section>
        </main>
    </div>
{% endblock %}
