{% extends 'layouts/base.html' %}

{% block title %}
    ლექსიკონის შესახებ
{% endblock %}


{% block content %}

    <div class="main-outer edge-padding">
        <main class="main-content width-limiter">
            <section class="about-container">
                <h1 class="about-title">ლექსიკონის შესახებ</h1>
                <p class="about-text">
                    {% if items %}
                        {% for item in items %}
                            {{ item.about_text }}
                        {% endfor %}
                    {% else %}
                        <p>No information available.</p>
                    {% endif %}
                </p>
            </section>
        </main>
    </div>
{% endblock %}
