{% extends 'layouts/base.html' %}

{% block title %}
    კონტაქტი
{% endblock %}


{% block content %}

    <div class="main-outer edge-padding">
        <main class="main-content width-limiter">
            <form class="contact-form" id="contact-form" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="input-group">
                    {{ form.first_name.label }}
                    <div class="base-field contact-field input-container errorable-field">
                        {{ form.first_name(class="contact-input field-input") }}
                        {% if form.first_name.errors %}
                            <span class="server-field-error">{{ form.first_name.errors[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group">
                    {{ form.last_name.label }}
                    <div class="base-field contact-field input-container errorable-field">
                        {{ form.last_name(class="contact-input field-input") }}
                        {% if form.last_name.errors %}
                            <span class="server-field-error">{{ form.last_name.errors[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group">
                    {{ form.email.label }}
                    <div class="base-field contact-field input-container errorable-field">
                        {{ form.email(class="contact-input field-input") }}
                        {% if form.email.errors %}
                            <span class="server-field-error">{{ form.email.errors[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group">
                    {{ form.subject.label }}
                    <div class="base-field contact-field input-container errorable-field">
                        {{ form.subject(class="contact-input field-input") }}
                        {% if form.subject.errors %}
                            <span class="server-field-error">{{ form.subject.errors[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group">
                    {{ form.text.label }}
                    <div class="base-field contact-field input-container errorable-field">
                        {{ form.text(class="contact-input field-input") }}
                        {% if form.text.errors %}
                            <span class="server-field-error">{{ form.text.errors[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <button class="base-button contact-submit" type="submit">
                    {{ form.submit.label.text }}
                </button>
            </form>
        </main>
    </div>

    {% include "modals/contact_success.html" %}
    {% include "modals/contact_error.html" %}

{% endblock %}
