{% extends 'layouts/base.html' %}
{% from "macros.html" import create_term_card %}


{% block title %}
    დარგობრივი ლექსიკონი
{% endblock %}


{% block content %}
    <div class="main-outer edge-padding">
        <main class="main-content width-limiter">
            <div id="filter-content-backdrop" class="filter-content-backdrop">
                {% include 'main/filters_section.html' %}
            </div>

            <section class="right-section">
                <section class="search-controls">
                    <div class="search-input-container">
                        <input class="search-input" type="text" placeholder="ძიება" id="searchWord"
                               value="{{ search_word }}"/>
                        <a>
                            <button class="search-button" id="searchButton">
                                <img class="search-button-img"
                                     src="{{ url_for('static', filename='images/search.svg') }}"
                                     alt="search"/>
                            </button>
                        </a>
                    </div>

                    <button id="filter-modal-open-button" class="filter-modal-toggle">
                        <span>ფილტრი</span>
                        <img src="{{ url_for('static', filename='images/filter.svg') }}"/>
                    </button>

                    <ul id="filter-label-slot" class="selected-filter-list" {% if filtered_categories %}
                        style="display: flex;" {% endif %}>
                        {% for category in filtered_categories %}
                            <li class="selected-filter-item">
                                {{ category.name }}
                                <button class="selected-filter-remove-button vector-button"
                                        data-category="{{ category.id }}">
                                    <img src="{{ url_for('static', filename='images/x.svg') }}"/>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </section>

                {% if terms.items %}
                    <section id="term-list">
                        {% for term in terms.items %}
                            {{ create_term_card(term) }}
                        {% endfor %}

                        <!--<article class="term-card">
                            <div class="pair-line">
                                <a href="/term-detail.html" class="unstyled-link">
                                    <h3 class="word-pair">Archipelago - არქიპელაგი</h3></a>
                                <span class="equivalent-word">(= <a href="/">კუნძული</a>)</span>
                            </div>
                        </article>-->
                    </section>


                    <div class="term-list-bottom-bar">
                        <ul class="pagination">
                            {% set query_string = request.query_string.decode() %}
                            {% set current_page = request.view_args.get("page", 1) %}
                            <li class="pagination-item">
                                <a href="{{ url_for("main.home", page=1) }}?{{ query_string }}"
                                   class="pagination-link {% if not terms.has_prev %} disabled {% endif %}">
                                    <img src="{{ url_for('static', filename='images/double-left.svg') }}"
                                         alt="first page"/>
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a href="{{ url_for("main.home", page=current_page - 1) }}?{{ query_string }}"
                                   class="pagination-link{% if not terms.has_prev %} disabled {% endif %}">
                                    <img src="{{ url_for('static', filename='images/left.svg') }}"
                                         alt="previous page"/>
                                </a>
                            </li>
                            {%- for page in terms.iter_pages(left_edge=0, left_current=2, right_current=2, right_edge=0) -%}
                                {%- if page -%}
                                    <li class="pagination-item">
                                        <a href="{{ url_for("main.home", page=page) }}?{{ query_string }}"
                                           class="pagination-link {% if page == current_page %} active {% endif %}">
                                            {{- page -}}
                                        </a>
                                    </li>
                                {%- endif -%}
                            {%- endfor -%}

                            <li class="pagination-item">
                                <a href="{{ url_for("main.home", page=current_page + 1) }}?{{ query_string }}"
                                   class="pagination-link {% if not terms.has_next %} disabled {% endif %}">
                                    <img src="{{ url_for('static', filename='images/right.svg') }}" alt="next page"/>
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a href="{{ url_for("main.home", page=terms.pages) }}?{{ query_string }}"
                                   class="pagination-link {% if not terms.has_next %} disabled {% endif %}">
                                    <img src="{{ url_for('static', filename='images/double-right.svg') }}"
                                         alt="last page"/>
                                </a>
                            </li>
                        </ul>
                        {% if request.query_string.decode() == "" %} {# No filters #}
                            <span class="search-result-number">სულ დამატებულია {{ terms.total }} ტერმინი</span>
                        {% else %}
                            <span class="search-result-number">სულ ნაპოვნია {{ terms.total }} ტერმინი</span>
                        {% endif %}
                    </div>
                {% else %}
                    <section class="not-found-container">
                        <h1 class="not-found-title">ტერმინი ვერ მოიძებნა</h1>
                        <button>
                            <a href="{{ url_for('main.contact') }}" class="base-button secondary-button">მოითხოვე
                                ტერმინის დამატება</a>
                        </button>
                    </section>
                {% endif %}
            </section>
        </main>
    </div>

{% endblock %}
