{% extends 'layouts/base.html' %}
{% from "macros.html" import render_subcategories %}

{% block title %}
    ტერმინის შიდა გვერდი
{% endblock %}



{% block content %}

    <div class="main-outer edge-padding">
        <main class="main-content width-limiter">
            <article class="term-word-container">
                <h1 class="term-word-detail">{{ term.eng_word }} - {{ term.geo_word }}</h1>
                {% set categories = term.get_category_tree() %}
                {% for category in categories.keys() %}
                    <div class="field">
                        <a href="{{ url_for('main.home', categories=category.id) }}," style="display: inline-block;">
                            {{ category.name }}
                        </a>
                        {% for subcategory in categories.values() if subcategory %}
                            > {{ render_subcategories(subcategory) }}
                        {% endfor %}
                    </div>
                {% endfor %}

                {% if term.grammar_form %}
                    <div class="term-word-type abbr-support">{{ term.grammar_form }}</div>
                {% endif %}

                {% if term.stylistic_label %}
                    <div class="term-qualifications"> {{ term.stylistic_label }}</div>
                {% endif %}

                {% if term.term_source %}
                    <section class="term-source">
                        <h2>ტერმინის წყარო:</h2>
                        <p class="abbr-support"> {{ term.term_source|safe }} </p>
                    </section>
                {% endif %}

                {# No need to check definition, there will always be one #}
                <section class="term-definition">
                    <h2>განმარტება:</h2>
                    <p class="abbr-support"> {{ term.definition|safe }} </p>
                </section>

                {% if term.definition_source %}
                    <section class="term-definition-source">
                        <h2>განმარტების წყარო:</h2>
                        <p class="abbr-support"> {{ term.definition_source|safe }} </p>
                    </section>
                {% endif %}

                {% if term.term_type %}
                    <section class="term-type">
                        <h2>ტერმინის ტიპი:</h2>
                        <p class="abbr-support">{{ term.term_type }}</p>
                    </section>
                {% endif %}

                {% if term.context %}
                    <section class="term-context">
                        <h2>კონტექსტი:</h2>
                        <p class="abbr-support"> {{ term.context|safe }} </p>
                    </section>
                {% endif %}

                {% if term.context_source %}
                    <section class="term-context-source">
                        <h2>კონტექსტის წყარო:</h2>
                        <p class="abbr-support"> {{ term.context_source|safe }} </p>
                    </section>
                {% endif %}

                {% set synonyms = term.get_synonyms() %}
                {% if synonyms %}
                    <section class="term-synonyms">
                        <h2>ქართული სინონიმები:</h2>
                        <ul>
                            {% for synonym in synonyms %}
                                <li>
                                    <a href="{{ url_for('main.term_detail', term_id=synonym.id) }}">{{ synonym.geo_word }}</a>
                                    {%- if not loop.last -%}
                                        ,
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                {% set english_synonyms = term.get_synonyms(is_english=True) %}
                {% if english_synonyms %}
                    <section class="term-synonyms">
                        <h2>ინგლისური სინონიმები:</h2>
                        <ul>
                            {% for synonym in english_synonyms %}
                                <li>
                                    <a href="{{ url_for('main.term_detail', term_id=synonym.id) }}">{{ synonym.eng_word }}</a>
                                    {%- if not loop.last -%}
                                        ,
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                {% set related_terms = term.get_related_terms() %}
                {% if related_terms %}
                    <section class="term-related">
                        <h2>დაკავშირებული სიტყვები:</h2>
                        <ul>
                            {% for related_term in related_terms %}
                                <li>
                                    <a href="{{ url_for('main.term_detail', term_id=related_term.id) }}">{{ related_term.eng_word }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                {% if term.comment %}
                    <section class="term-comment">
                        <h2>კომენტარი:</h2>
                        <p class="abbr-support"> {{ term.comment }} </p>
                    </section>
                {% endif %}
                <a class="go-back-button-container" onclick="return window.history.back()">
                    <button type="button" class="go-back-button">
                        <img src="{{ url_for('static', filename='images/' + 'go-back.svg') }}" alt="Go back"/>
                    </button>
                    <span>უკან დაბრუნება</span>
                </a>
            </article>
        </main>
    </div>
{% endblock %}
