<footer class="footer edge-padding">
    <div class="footer-content width-limiter">
        <div class="partner-group">
            <h6 class="partner-title">პარტნიორები</h6>
            <div class="partner-logos">

                {% for item in items %}
                    {% if item.logo %}
                        <a href="{{ item.logo_link }}" target="_blank">
                            <img src="{{ url_for('static', filename='images/' + item.logo) }}" alt="{{ item.partner_name }} logo" class="partner-logo" width="60" height="60">
                        </a>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <span class="copyright">© ილიას სახელმწიფო უნივერსიტეტი&#10;ლექსიკოგრაფიისა და ენობრივი ტექნოლოგიების ცენტრი</span>
</footer>